*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}
.logo img{
    width: 50%;
border: 3px solid white;
border-radius: 50%;
margin: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0;
    color:  rgb(161, 233, 209);
    background-image: url('https://img.freepik.com/premium-photo/top-view-abstract-paper-texture-background_225709-2718.jpg?w=2000');
    cursor: pointer;
   
    transition:0.4s ease-out;

}

a:hover{
    background: rgb(177, 244, 213);
    
}
.nav-list{
width: 70%;
display: flex;
align-items: center;
font-size: 20px;
}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(241, 17, 162);
}
.nav-list li{
list-style: none;
padding: 20px 30px;
}
.nav-list li a{
text-decoration: none;
color: blue;
}

.rightnav{
    
    width: 30%;
    text-align: right;
    padding:0 23px;
}

.background{
   
    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 50vh;
}
.text-big{
font-size: 40px;
}
.text-small{
font-size: 20px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px soildi white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
.btn-sm{
   padding :5px 10px; 
   vertical-align: middle;
}
.section{

display: flex;
align-items: center;
justify-content: center;
max-width: 100%;
margin: auto;
font-family: 'Montserrat', sans-serif;
padding: 10px;
}
.paras{
    padding: 0px 65px; 
}
.secleft{
   
    flex-direction: row-reverse;
}

.thumbnail img{
    width: 250px;
    border: 2px solid gray;
    border-radius: 25px;
    margin-top: 20px;
}
.contact{
    background-color: azure;
    
}
.form{
    text-align: center;
    max-width: 100%;
    align-items: center;
    padding: 20px 20px;
   
}
input[type=submit] {
   
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text] {
    width: 50%;
    background-color: #eaf3ea;
    color: rgb(14, 13, 13);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=email] {
    width: 50%;
    background-color: #eaf3ea;
    color: rgb(14, 13, 13);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.foot{
    background-color: black;
    color: #eaf3ea;
    text-align: center;
    font-size: x-large;
}
.btn:hover{
    background-color: rgb(241, 214, 245);
}
.box-main.firsthalf{
    margin-left: 0;
    padding: 0;
}
.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 5%;
top:15px
}
.line{
    width: 33px;
    color: #4CAF50;
    background-color: rgb(208, 48, 48);
    height: 4px;
    margin:5px 3px;
}
#contacts{
    background-color: rgb(82, 82, 82);
   
}
#hgh{
    font-size: 21px;
    text-align: center;
}

@media only screen and (max-width:1166px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .rightnav{
        text-align: center;
    }
    
    .burger{
        display: block;

    }
    .h-nav{
        height: 52px;
        background-color: #ebf4eb;
        
    }
    .v-class{
        opacity: 0;
       height: 300px;
       background-color: #121812;

    }
   
    
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .buttons{
        text-align: center;
    }
    #hgh{
       
        text-align: center;
    }
    
}